.cm-superscript-page-heading {
  text-transform: uppercase;
  font-size: var(--h2-size);
  font-weight: bold;
}

.cm-superscript-before-page-start {
  height: calc(var(--line-height-normal) * 1lh + var(--size-4-6));
}

.cm-superscript-page-start {
  &::before {
    content: '';
    position: absolute;
    inset: calc(var(--size-4-2) * -1) calc(var(--size-4-4) * -1) 0;
    border-inline: solid var(--border-width) var(--background-modifier-border);
    border-block-start: solid var(--border-width) var(--background-modifier-border);
    border-start-start-radius: var(--radius-s);
    border-start-end-radius: var(--radius-s);
  }
}

.cm-superscript-page-body {
  &::before {
    content: '';
    position: absolute;
    inset: 0 calc(var(--size-4-4) * -1);
    border-inline: solid var(--border-width) var(--background-modifier-border);
  }
}

.cm-superscript-page-end {
  height: calc(var(--line-height-normal) * 1lh + var(--size-4-4));

  &::before {
    content: '';
    position: absolute;
    inset: 0 calc(var(--size-4-4) * -1) var(--size-4-4);
    height: var(--line-height-normal)px;
    border-inline: solid var(--border-width) var(--background-modifier-border);
    border-block-end: solid var(--border-width) var(--background-modifier-border);
    border-end-start-radius: var(--radius-s);
    border-end-end-radius: var(--radius-s);
  }
}

.cm-superscript-page-start.cm-superscript-page-end {
  height: calc(var(--line-height-normal) * 1lh + var(--size-4-1));

  &::before {
    inset: calc(var(--size-4-2) * -1) calc(var(--size-4-4) * -1) var(--size-4-4);
  }
}

.cm-superscript-page-heading-parity {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  height: 1lh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-faint);
  pointer-events: none;

  >svg.svg-icon {
    width: auto;
    stroke: var(--text-muted);
  }

  >svg.svg-icon-rtl {
    transform: scaleX(-1);
  }
}

.cm-superscript-panel-heading {
  text-transform: lowercase;
  font-size: var(--h3-size);
  font-weight: bold;
}

.cm-superscript-panel-heading::first-letter {
  text-transform: uppercase;
}

.cm-superscript-character {
  text-decoration: underline;
}

.cm-superscript-dialogue::before {
  content: '    ';
}

.cm-superscript-word-count {
  display: inline;
  position: absolute;
  top: calc(50% - .5lh);
  right: calc(100% + var(--size-4-6));
  width: max-content;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  font-size: var(--font-ui-smaller);
  font-weight: var(--font-normal);
  color: var(--text-faint);
  pointer-events: none;
  text-transform: none;
}