/* Page heading */

.cm-superscript-page-heading {
  text-transform: uppercase;
  font-size: var(--h2-size);
  font-weight: bold;
}

/* Page background */

.cm-superscript-before-page-start {
  height: calc(var(--line-height-normal) * 1lh + var(--size-4-6));
}

.cm-superscript-page-start,
.cm-superscript-page-body,
.cm-superscript-page-end {
  &::before {
    content: '';
    position: absolute;
    border-inline: solid var(--border-width) var(--background-modifier-border);
    background: var(--background-primary-alt);
    mix-blend-mode: darken;
    pointer-events: none;

    @media (prefers-color-scheme: dark) {
      mix-blend-mode: lighten;
    }
  }
}

.cm-superscript-page-start::before {
  inset: calc(var(--size-4-2) * -1) calc(var(--size-4-4) * -1) 0;
  border-block-start: solid var(--border-width) var(--background-modifier-border);
  border-start-start-radius: var(--radius-s);
  border-start-end-radius: var(--radius-s);
}

.cm-superscript-page-body::before {
  content: '';
  position: absolute;
  inset: 0 calc(var(--size-4-4) * -1);
}

.cm-superscript-page-end {
  height: calc(var(--line-height-normal) * 1lh + var(--size-4-4));

  &::before {
    content: '';
    position: absolute;
    inset: 0 calc(var(--size-4-4) * -1) var(--size-4-4);
    border-block-end: solid var(--border-width) var(--background-modifier-border);
    border-end-start-radius: var(--radius-s);
    border-end-end-radius: var(--radius-s);
  }
}

.cm-superscript-page-start.cm-superscript-page-end {
  height: calc(var(--line-height-normal) * 1lh + var(--size-4-1));

  &::before {
    inset: calc(var(--size-4-2) * -1) calc(var(--size-4-4) * -1) var(--size-4-4);
  }
}

/* Page heading parity widget */

.cm-superscript-page-heading-parity {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  height: 1lh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-faint);
  pointer-events: none;

  >svg.svg-icon {
    width: auto;
    stroke: var(--text-muted);
  }

  >svg.svg-icon-rtl {
    transform: scaleX(-1);
  }
}

/* Panel heading */

.cm-superscript-panel-heading {
  text-transform: lowercase;
  font-size: var(--h3-size);
  font-weight: bold;
}

.cm-superscript-panel-heading::first-letter {
  text-transform: uppercase;
}

/* Character */

.markdown-source-view.mod-cm6 .cm-line.cm-superscript-character {
  padding-inline-start: 2ch;
  text-decoration: underline;
}

/* Dialogue */

.markdown-source-view.mod-cm6 .cm-line.cm-superscript-dialogue {
  padding-inline-start: 2ch;
}

/* Word count widget */

.cm-superscript-word-count {
  display: inline;
  position: absolute;
  top: calc(50% - .5lh);
  right: calc(100% + var(--size-4-6));
  width: max-content;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  font-size: var(--font-ui-smaller);
  font-weight: var(--font-normal);
  color: var(--text-faint);
  pointer-events: none;
}

/* Shortcut tip widget */

.cm-superscript-shortcut-tip {
  position: absolute;
  padding-inline-start: 2ch;
  color: var(--text-faint);
  pointer-events: none;
}